{% load static %}

<div class="content_container">

    <div class="container_user_count_info">
        <div class="all_cash">
            Всього на рахунках
            <div class="all_cash_count">
                {{ amount_count.balance__sum|floatformat }} ₴
            </div>
        </div>
        <div class="separator"></div>
        <div class="counts">
            <div class="counts_header">
                Мої рахунки
                <input type="submit" id="new_count" value="Редагувати">
            </div>
            <div class="counts_list">
                <table>
                    {%  for item in count_list %}
                        <tr>
                            <td class="l">{{ item.count_name }}</td>
                            <td class="r">{{ item.balance }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="separator"></div>
    </div>

    <div class="container_user_main_table">
        <div class="analysis_tabs">
            <button class="payment">Платежі</button>
        </div>
        <div class="filters_search_and_other_buttons">
            <div class="filters_search">
                <select>
                  <option value="books">За весь час</option>
                  <option value="html">За тиждень</option>
                  <option value="css">За 1 місяць</option>
                  <option value="php">За 3 місяці</option>
                  <option value="js">За 6 місяців</option>
                  <option value="js">За 12 місяців</option>
                </select>
                <div class="search">
                    <input type="text" placeholder="Пошук по рахунках, клієнтах, коментарях">
                </div>
            </div>
            <div class="filters_buttons">
                <a href="#" class="tables_button"><img src="{% static 'Budget_app/images/Group 17.svg' %}" alt=""></a>
                <a href="#" class="tables_button"><img src="{% static 'Budget_app/images/Group 18.svg' %}" alt=""></a>
                <a href="#" class="tables_button"><img src="{% static 'Budget_app/images/Group 19.svg' %}" alt=""></a>
            </div>
        </div>

        {% include 'Budget_app/main_table.html' %}

    </div>


</div>