{% extends 'Budget_app/base.html' %}


{% block content %}
    <div class="reset_password_container">
        <div class="form_block">
            <div class="form_block_header">
                <div class="form_block_title">Зміна пароля</div>
            </div>
            <form method="post" id="password-reset">
                {% csrf_token %}
                <div class="password_reset_password1">
                    <input type="password" name="password1" placeholder="Пароль" class="password_reset_password1">
                </div>
                <div class="password_reset_password2">
                    <input type="password" name="password2" placeholder="Повтор пароля" class="password_reset_password2">
                </div>
                <div>
                    <button type="submit" class="send"><span>Зберегти</span></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}