{% extends 'Budget_app/base.html' %}


{% block content %}
    <div class="reset_password_container">
        <div class="form_block">
            <div class="form_block_header">
                <div class="form_block_title">Зміна пароля</div>
                <a href="{% url 'b_app:login' %}">Назад</a>
            </div>
            <form method="post" id="password-reset">
                {% csrf_token %}
                <div class="password_change_email_field">
                    <input type="email" name="email" placeholder="Email" class="password_reset_email">
                </div>
              {% for field in form %}
                   {% for error in field.errors %}
                        {{ error }}
                   {% endfor %}
              {% endfor %}
                <div>
                    <button type="submit" class="send"><span>Відправити лист</span></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
