<form action="{% url 'b_app:create_transaction' %}" method="post" id="income_form">
    <div id="hide_transaction_income_form">x</div>
    {% csrf_token %}
    <select name="count_list_id">
        {% for count in count_list %}
            <option value="{{ count.pk }}">{{ count.count_name }}</option>
        {% endfor %}
    </select>
    <input type="radio" name="transaction_type" id="transaction_income_type_id" checked value="True">
    <input type="text" name="transaction_value">
    <input type="text" name="description">
    <select name="category" class="category_income">
        {% for category_i in category_list_income %}
            <option value="{{ category_i.pk }}">{{ category_i.category_name }}</option>
        {% endfor %}
    </select>
    <select name="currency">
        {% for currency in currency_list %}
            <option value="{{ currency.pk }}">{{ currency.currency_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="create">
</form>

<form action="{% url 'b_app:create_transaction' %}" method="post" id="expense_form">
    <div id="hide_transaction_expense_form">x</div>
    {% csrf_token %}
    <select name="count_list_id">
        {% for count in count_list %}
            <option value="{{ count.pk }}">{{ count.count_name }}</option>
        {% endfor %}
    </select>
    <input type="radio" name="transaction_type" id="transaction_expense_type_id" checked value="False">
    <input type="text" name="transaction_value">
    <input type="text" name="description">
    <select name="category" class="category_expense">
        {% for category_e in category_list_expense %}
            <option value="{{ category_e.pk }}">{{ category_e.category_name }}</option>
        {% endfor %}
    </select>
    <select name="currency">
        {% for currency in currency_list %}
            <option value="{{ currency.pk }}">{{ currency.currency_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="create">
</form>